[Unit]
Description=Monitor IP changes and update docker-compose environment
After=network.target

[Service]
Type=simple
ExecStart=/media/lvm/docker/compose/09.Invidious/monitor_ipv4.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
